.navbarLis {
    justify-content: right;
    font-size: 18px;
    font-weight: light;
}

.navbarLis a{
    color: #e6e6e6 !important;
}

.navbarLis a:hover{
    color: white !important;
}

.navbar {
    background-color: #1F4E46 !important;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logoOfNavbar {
    color: #FFFFFF;
    font-size: 27px;
    text-decoration: none;
    font-weight: 700;
}

.BtnOfToogleNavbar{
    display: none !important;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

.BtnOfToogleNavbar:active{
    border: 2px solid white;
    font-size: 26px;
}

@media (max-width: 991px) {
    .BtnOfToogleNavbar{
        display: flex !important;
    }
}

@media (max-width: 400px) {
    .navbar{
        padding: 10px 0;
    }

    .logoOfNavbar{
        font-size: 18px;
    }
}